.container-banner{
  margin:10px;
}

.banner{
  height: 630px;
}

.img-banner{
  background-size: cover;
  background-position: center;
  width: 47%;
  padding: 0 !important;
  height: 500px;
}

.container-category{
  margin: -30px 120px 50px 120px;
  /* padding-top: 10px; */
}

.img-banner img{
    position: relative;
    left: 50px;
    top: 44px;
    height: 386px;
    background-position: center;
    background-size: cover;
}

.text-banner{
  width: 50%;
  padding-right: 0px !important;
  height: 460px;
}

.text-right-image{
  max-width: 100% !important;
  color: $brand-primary;

}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.description-cards h1{
  font-style: italic;
  margin-top: 20px;
}

.description-cards{
  margin-top: 50px;
  color: $brand-primary;
}

.description-cards p{
  margin-top: 20px;
  margin-bottom: 50px;
}

.display-4 strong{
  letter-spacing: 4px;
  margin-bottom: 56px !important
}

.display-4{
  margin-top: 50px;
}


.lead{
  letter-spacing: 1px;
  margin-top: 50px !important;
  opacity: 0.6;
}

.featurette-heading{
    margin-top: 10rem;
    line-height: 1;
    letter-spacing: -.05rem;
    font-weight: normal;
}

.featurette{
      height: 500px;
}

.last-container{
  margin-top: 120px;
  margin-bottom: 220px;
  height: 500px;
}

.featurette-image{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    height: 561px;
    width: 855px;
    position: absolute;
    right: -70px;
    z-index: -1;
    opacity: 0.7;
}

.box-text-banner2{
  margin-left: 56px;
  color: $brand-primary;
}




