.page-container{
  min-height: calc(100vh - 160px);
}

.each-home-container {
  height: 100vh;
}

.container-banner{
  margin:10px;
}

.banner{
  height: 630px;
}

.img-banner{
  background-size: cover;
  background-position: center;
  width: 47%;
  padding: 0 !important;
  height: 500px;
}

.container-category{
  margin: -30px 120px 50px 120px;
  margin-top: 140px;
  /* padding-top: 10px; */
}

.container-category h1 {
  font-style: normal !important;
}

.container-category p {
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
}

.container-activity h1 {
  font-style: normal !important;
}

.container-activity p {
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
}



.img-banner img{
    position: relative;
    top: 44px;
    height: 85vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
    border-radius: 4px;
}

.text-banner{
  width: 50%;
  padding-right: 0px !important;
  height: 460px;
}

.text-right-image{
  max-width: 100% !important;
  color: $brand-primary;

}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.description-cards h1{
  font-style: italic;
  margin-top: 20px;
}

.description-cards{
  margin-top: 50px;
  color: $brand-primary;
}

.description-cards p{
  margin-top: 20px;
  margin-bottom: 60px;
}

.display-4 strong{
  letter-spacing: 4px;
  margin-bottom: 56px !important;
}

.display-4{
  margin-top: 10px;
  font-weight: 700;
}

.landing-text {
  font-weight: 200;
  width: 360px;
  font-size: 24px;
  margin-top: 40px;
  letter-spacing: 2px;
}


.lead{
  letter-spacing: 1px;
  margin-top: 50px !important;
  opacity: 0.6;
}

.featurette-heading{
    margin-top: 21rem;
    line-height: 1;
    letter-spacing: -.05rem;
    font-weight: normal;
}

.featurette-heading p{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.featurette{
      height: 500px;
}

.last-container{
  margin-top: 120px;
  margin-bottom: 350px;
  height: 400px;
}

.featurette-image{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    height: 561px;
    width: 855px;
    position: absolute;
    right: -70px;
    z-index: -1;
    opacity: 0.8;
}

.box-text-banner2{
  margin-left: 56px;
  color: $brand-primary;
}

.container-activity {
  margin-top: 180px;
}


.three-cards-landing-page {
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.three-card-landing h1{
  color: $brand-primary;
}

.three-card-landing p{
  margin-top: 30px;
  margin: 20px 30px;
  line-height: 1.5;
  letter-spacing: 1.3px;
  color: $brand-primary;
  font-size: 16px;
  font-weight: 300;
}

.three-card-landing a{
  text-decoration: none !important;
  color: $brand-primary;
}

.three-card-landing:hover a{
  text-decoration: none !important;
}

.three-card-landing {
  padding-top: 70px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  height: 330px;
}

.three-card-landing:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: $brand-secondary;
  text-decoration: none !important;
  .btn-flat-card {
    background: white;
    color: $brand-secondary !important;
  }
}


.btn-flat-card {
  color: white !important;
  background: $brand-secondary;
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid $brand-secondary;
  width: 50%;
}

.text-muted{
    color: black !important;
    font-weight: bold;
}
// .btn-flat-card:hover {
//   background: white;
//   color: $brand-secondary;
// }


.img-last-container {
  width: 45vw;
  opacity: 0.95;
  border-radius: 4px;
  margin-left: 50px;
}

.description-last-container {
  text-align: left;
  margin-left: 90px;
  padding-top: 50px;
  color: $brand-primary;
}

.container-last h1 {
  font-style: normal !important;
  width: 300px;
}

.container-last p {
  font-weight: 200;
  font-size: 24px;
  width: 410px;
  letter-spacing: 1px;
}

.container-last{
  margin-top: 180px;
}

.green-text-landing {
  color: $brand-secondary;
  font-weight: 400;
}
