.title-category{
  margin-left: 88px;
  margin-top: 15px;
  color: $brand-primary;
}

.articles h2{
  color: $brand-primary;
}

.questions h2{
  color: $brand-primary;
}

.back{
  margin-left: 88px;
  margin-top: 30px;
}

.answer{
  margin-bottom: 30px;
}

.carousel{
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-inner{
  height: 50px;
  padding-top: 10px;
}

.tags-space{
    margin-left: 10px;
    margin-right: 10px;
}

.line {
  width: 100vw;
  height: 3px;
  background-color: gray;
  opacity: 0.5;
  margin: 20px 0px 20px 0px;
}

.tab-content {
  max-height:500px;
  min-height: 500px;
}

.tabby {
  width: 33vw;
  text-align: center;
}

.back-to-category{
  text-decoration: none !important;
  color: $brand-primary;
  opacity: 0.5;
}

.container-articles{
  margin-top: 37px;
}

.container-questions{
  margin-top: 20px;
}

.like{
  display: flex;
}



.source-like p{
  opacity: 0.5;
}

.card-articles a{
  text-decoration: none !important;
  color: $brand-primary !important;
}

.card-articles a:hover{
  opacity: 0.6;
  color: $brand-secondary !important;
}

.author{
  font-size: 5px;
  opacity: 0.6;
}

.likes_count{
  font-size: 8px;
}

.question-link{
  margin-bottom: 30px;
}

.time-user p{
  opacity: 0.5;
  text-decoration: none !important;
  color: $brand-primary;
}

.question-link a{
  text-decoration: none !important;
  color: $brand-primary;
}
.question-link a:hover{
  opacity: 0.6;
  color: $brand-secondary !important;
}

.time-user{
  display: flex;
  justify-content: space-between;
}
