.tag-show{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 30px 88px;
}

.title-category{
  margin-left: 88px;
  margin-top: 15px;
}

.back{
  margin-left: 88px;
  margin-top: 30px;
}

.answer{
  margin-bottom: 30px;
}

.carousel{
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-inner{
  height: 50px;
  padding-top: 10px;
}

.tags-space{
    margin-left: 10px;
    margin-right: 10px;
}

.line-1{
  width: 100vw;
  height: 1px;
  background-color: #8080806b;
  opacity: 0.5;
  margin: 20px 0px 20px 0px;
  margin-top: 0.2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}
.line-2 {
  width: 100vw;
  height: 1px;
  background-color: #8080806b;
  opacity: 0.5;
  margin: 20px 0px 20px 0px;
  margin-top:0.3px;
  box-shadow:0 1px 2px rgba(0,0,0,0.2)
}

.tab-content {
  max-height:500px;
  min-height: 500px;
}

.tabby {
  width: 33vw;
  text-align: center;
}
