

<div class="container d-flex">

  <div class="container articles-dashboard">
    <h2>Liked articles</h2>
  </div>

  <div class="container questions-dashboard">
    <h2>My questions</h2>
      <% @user.questions.each do |question| %>
      <div class="container card-question">
        <%= question.content %>
      </div>
      <% end %>
  </div>
  <div class="container answers-dashboard">
    <h2>My answers</h2>
  </div>






<div
  id="map"
  style="width: 100%; height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
  ></div>
  </div>

