  <footer>
    <div class="footer1">
      <div class="footer-container1">
        <!-- Grid row-->
        <div class="row d-flex justify-content align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left">
            <p class="mb-0">Get connected with us on social networks!</p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>

<% if controller_name == "pages" %>
    <div class="footer2">
      <div class="footer-container2">
        <div class="row py-4">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
            <p>The Green Rocket</p>
            <p>Helping you find a starting point to tackle the climate problem 👋 </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <p>More info</p>
            <p><%= link_to("Features", "#") %></p>
            <p><%= link_to("Community", "#") %></p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <p>Useful links</p>
            <p><%= link_to("My Dashboard", "#" ) %></p>
            <p><%= link_to("Categories", categories_path ) %></p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
            <p>Contact</p>
            <p><i class="fas fa-home mr-3"></i> 138 Kingsland Road, Hoxton</p>
            <p><i class="fas fa-envelope mr-3"></i> solutions@greenrocket.com</p>
            <p><i class="fas fa-phone mr-3"></i> Hector's phone</p>
          </div>
        </div>
      </div>
    </div>
<% end %>
  </footer>

