<div class="page-container">
  <div class="container d-flex justify-content-center">
    <div class="d-flex justify-content-around form-edit-answer text-center">
      <%= simple_form_for [@answer] do |f| %>
        <%= f.input :content %>
        <%= f.submit "update the answer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
