.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

img.card-img-top {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}

.ranking-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #FFD300;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  position: relative;
  bottom: 130px;
  left: 120px;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
}
