.btn-log-nav {
  color: black !important;
  font-size: 17px !important;
}

.btn-log-nav:hover {
  color: $brand-secondary !important;
}



.btn-login{
  padding: 8px 24px;
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease;
  color: $brand-secondary !important;
  border: 1px solid $brand-secondary;
  padding: 8px 24px;
  font-size: 10px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-login:hover{
  color: white !important;
  background-color: $brand-secondary;
}

.btn-flat{
  width: 50%;
}

.btn-flat {
  position: relative;
  left: -164px;
  top: 150px;
  color: $brand-secondary;
  padding: 8px 24px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid $brand-secondary;
  transition: background 0.3s ease;
  width: 50%;
}

.btn-flat:hover {
  background: $brand-secondary;
  color: white;
}

.btn-tags{
  border: 1px solid $brand-secondary;
  background: transparent;
  border-radius: 50px;
  padding: 8px 24px;
  color: $brand-secondary;
  transition: background 0.3s ease;
  text-decoration: none !important;
}

.btn-tags:hover {
  background: $brand-secondary;
  text-decoration: none !important;
  color: white;
}

.btn-tags:active{
  background: $brand-secondary;
}

.btn-ask{
  color: $brand-primary !important;
  padding-bottom:30px !important;
  height: 35px;
}

.btn-statistic{
  border: 1px solid $brand-primary;
  background: transparent;
  border-radius: 50px;
  padding: 8px 16px;
  color: $brand-primary;
  transition: background 0.3s ease;
  text-decoration: none !important;
  height: 40px;
  margin-left: 15px !important;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: bold;
}

.btn-statistic:hover {
  background: $brand-primary;
  color: $brand-secondary;
}










