.card-home {
  display: grid;
  grid-gap: 32px;
}

.card-home a{
  text-decoration: none !important;
}
#map {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.card-category-home {
  background-size: cover !important;
  background-position: center !important;
  height: 179px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  transition: 0.3s ease;
  text-decoration: none;
}

.card-category-home:hover{
  transform: scale(1.1);
}

.card-category-home a{
  color: white !important;
}
// .carddy {
//   width: 40%;
//   text-align: center;
//   border-radius:50%
// }

.card-articles{
  padding: 16px 8px 16px 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 90%;
  font-size: 15px;
  overflow: hidden;
  height: 135px;
  background: transparent;
  display: flex;
  position: relative;
}

.card-articles:hover{
  transform: scale(1.02);
  transition: 0.3s ease;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-question{
  padding: 16px 8px 16px 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 90%;
  max-width: 500px;
  font-size: 15px;
  overflow: hidden;
  background: rgba(232, 253, 244, 100);
  max-height: 90%;
  position: relative;
}

.card-question:hover{
  transform: scale(1.02);
  transition: 0.3s ease;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-left: 10px;
}

.card-question-profile-page{
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  // margin: 26px auto;
  // width: 45%;
  p {
    font-size: 11px;
  }
}
.card {
  width: 50vw;
  text-align: center;
  border-radius:auto;
  width: 100%;
  margin-left:50px;
  border-color: transparent;
}

.content-backgroud {
width: 60%;
padding: 30px;
margin: 10px auto;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.57);
}
//from below is the card results---------------------



.card-result {

 text-decoration: none;
 margin-left: 23px;
 margin-top: 60px;
 display: flex;
 flex-wrap: wrap;
 margin:45px
}


.card-result a{
  text-decoration: none !important;
  color:white
}
.large {
  width: 36% !important;
  min-width: 360px !important;
}


.card-category-result {
  background-size: cover !important;
  background-position: center !important;
  height: 179px;
  width: 18%;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
  text-decoration: none;
  margin: 10px;
}
.card-category-result:hover{
  transform: scale(1.1);
}

.container-search {
margin: 5%;
margin-right: 10%;
margin-top: 5%;
margin-right: -120px;
margin-left: 10%;

}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
