.dashboard-hr {
  margin: 0;
}

.container.first-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.container.second-container {
  max-height: 100vh;
}

.personal-data {
  margin-top: 30px;
  display: flex;
}

.profile-and-photo {
  display: flex;
  flex-direction: column;
}

.card-text-dashboard {
  display: flex;
  width: 50%;
  margin-left: 60px;
  flex-direction: column;
  justify-content: space-around;
}

.user-name-dashboard {
  position: relative;
  bottom: 20px;
}

h2.user-name-dashboard {
  color: $brand-primary;
}

p.user-location {
  font-weight: lighter;
  font-size: 17px;
  position: relative;
  bottom: 25px;
}

.biography {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 27px;
}

.without-biography {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 27px;
  font-style: italic;
  color: $brand-primary;
}

.update-button {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 35px;
  left: 13px;
}

.btn-ask.btn-tags.btn-update {
  height: 30px;
}

.nav {
  justify-content: space-around;
}

.tab-content {
  overflow: scroll;
}

.nav-tabs .nav-link {
  color: $brand-secondary;
}

.nav-tabs .nav-link.active {
  color: $brand-primary;
}

.nav-tabs {
  background-color: white;
}

.card-articles.dashboard {
  padding: 16px 8px 16px 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 67%;
  font-size: 15px;
  overflow: hidden;
  height: 135px;
  background: transparent;
  display: flex;
  position: relative;
  left: 190px;
}

.without-card-articles.dashboard {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}

.card-question.dashboard {
  padding: 16px 8px 16px 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 67%;
  max-width: 500px;
  font-size: 15px;
  overflow: hidden;
  background: #e8fdf4;
  height: 90%;
  position: relative;
  left: 190px;
  color: $brand-primary;
}

span.question-creator {
  color: black;
}

span.question-creator:hover {
  color: #1DDD88;
  text-decoration: none;
}

#profile a:hover {
  text-decoration: none;
}

.without-card-question.dashboard {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}

.no-questions-text p {
  margin-top: 4px;
  margin-bottom: 0;
}

.question-date {
  display: flex;
  justify-content: flex-end;
  p {
    margin: 0;
    opacity: 0.5;
    font-style: italic;
  }
}

.question-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.location-date {
  opacity: 0.5;
  font-style: italic;
  text-align: right;
  p {
    margin: 0;
  }
}

.no-underline:hover {
  text-decoration: none;
}
