.footer1 {
  background: $brand-secondary;
  align-items: center;
  height: 80px;
  padding: 0px 50px;
  margin-top: 120px;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: white;
  opacity: 1;
}

.footer .fa-heart {
  color: $brand-secondary;
}

.footer-copyright{
  color: $brand-secondary;
}

.footer2 {
  background: $brand-primary;
  align-items: center;
  color: white;
  height: 280px;
  padding-top: 16px;
}

.footer2 a {
  text-decoration: none !important;
}

.footer-container2{
  margin: 26px;
}

.mx-auto a{
  color: $brand-secondary;
}

.mx-auto a:hover{
  color: white;
}

.footer-container1{
  padding: 22px 31px 22px 0px;
}
// .footer-container1{
//   display: flex;
//   justify-content: space-between;
// }
