.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0px 56px 0px 56px;
  max-height: 80px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img{
  width: 60px;
}

.logo h1{
  font-size: 20px;
  position: relative;
  top: 10px;
  height: 30px;
}

.logo a{
  margin-right: 0px !important;
}

.navbar-log{
  color: $brand-primary !important;
  padding: 8px 24px;
  border-radius: 10px !important;
  font-weight: lighter;
  width: 100px;
  font-size: 14px !important;
  letter-spacing: 2px;
}

.login-item{
  margin-right: 20px
}

.dashboard{
    height: 40px;
    padding-top: 5px;
}

.avatar-menu{
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  opacity: 0.9;
}

.avatar-items:hover{
  background-color: $brand-secondary !important;
}

// Search icon
.search{
  margin-right: 30px;
}

.fa-search{
  font-size: 24px;
}

//
