<div class = "banner-result"





  <div class="cards card-result">
    <% @categories.each_with_index do |category, index| %>
      <div class=" card-category-result" style="background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= category.photo %>);">
        <%= link_to category.name, category_path(category) %>
      </div>
    <% end %>
  </div>



