

<div class = container-search style="margin: 5%;
margin-right: 10%; margin-top: 5%; margin-right: -120px;" >
  <div class="cards card-result">
    <% @categories.each_with_index do |category, index| %>
    <% if index%3 == 0 %>
      <div class=" card-category-result large" style="background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= category.photo %>);">
        <%= link_to category.name, category_path(category) %>
      </div>

      <% else %>

      <div class=" card-category-result" style="background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= category.photo %>);">
        <%= link_to category.name, category_path(category) %>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>



